:root{
    --layout-bg--color: #0D1117;
    --layout-bg--color-light:#FFFFFF;
    --components-bg--color:#4F4F4F;
    --components-bg--color-light:#FFFFFF;
    --card-bg--color:#2E3035;
    --card-bg--color-light:rgba(71, 147, 255, 0.2);
}